h1 {
  border-bottom: 1px solid #ccc;
  width: 100%;
  font-size: 1em;
  font-weight: normal;
}

.runningOverlay {
  position: fixed;
  width: 100vmin;
  height: 100vmax;
  visibility: hidden;
  background-color: rgba(0,0,0,.5);
}
