/*@font-face {
    font-family: roboto;
}*/

html, body {
	margin: 0;
	color: #ddd;
	font-family: Verdana;
	font-weight: lighter;
	width:100%;
	height:100%;
	text-align: center;
  /*cursor: none;*/
  z-index: -100;
  overflow: hidden;
}

body {
  background-color: #eee;
	font-size: 2.5vmin;
	--menu-hgt: 2em;
	--input-height: 27vmax;
	/*font-size: 20px;*/
	overflow: hidden;
}

.rotator {
	width: 100vw;
	height: 100vh;

	width: 100vh;
	height: 100vw;
	transform: rotate(90deg);
	transform-origin:bottom left;

	position:absolute;
  top:-100vw;
	overflow: auto;
}

.svgIcon {
	--svg-src: url('assets/wifi.svg');
	display: inline-block;
	/*margin-top: -5px;*/
	height: 1em;
	width: 1em;
	background-color: currentColor;
	-webkit-mask-image: var(--svg-src);
	-webkit-mask-size: contain;
}

#close {
	opacity: 0;
	transition: opacity .5s ease;
	--svg-src: url('assets/close.svg');
}

#mainMenu {
	color: #777;
	background-color: #fff;
	--menu-height: var(--menu-hgt);
	z-index: 100;
	font-size: 2em;

	transition: color .5s ease, background-color .5s ease;
}

#keyboardDiv {
	position: absolute;
	bottom: calc(-1 * var(--input-height) - 3vmax);
	left: 0;
	width: 100vmin;
	height: var(--input-height);
	font-size: 1.5em;
	transition: bottom .5s ease;
}

#keyboardDiv.show {
	bottom: 0;
}

#numpadDiv {
	position: absolute;
	bottom: calc(-1 * var(--input-height) - 3vmax);
	left: 0;
	width: 100vmin;
	height: var(--input-height);
	font-size: 1.5em;
	transition: bottom .5s ease;
}

#numpadDiv.show {
	bottom: 0;
}

muse-card input[type='text'], muse-card input[type='password'] {
	width: 10em;
  padding: .5em;
  font-size: 1em;
  box-sizing: border-box;
  border-radius: .25em;
  border: solid 1px rgba(0,0,0, .2);
}

muse-card drop-down {
	--background-color: #39f;
	--font-color: #fff;
	width: 15em;
}

muse-card but-ton {
  --background-color: #39f;
  --font-color: #fff;
}

muse-card but-ton.accept {
  font-size: 1em;
	--background-color: #39f;
  --font-color: #fff;
}

muse-card but-ton.cancel {
  font-size: 1em;
	--background-color: #fff;
  border: solid 1px rgba(0,0,0,.2);
  --font-color: #555;
}
