/*@font-face {
    font-family: roboto;
}*/

html, body {
	margin: 0;
	color: #ddd;
	font-family: Verdana;
	font-weight: lighter;
	width:100%;
	height:100%;
	text-align: center;
  /*cursor: none;*/
	touch-action: none;
	user-select:none;
  z-index: -100;
  overflow: hidden;
}

body {
  background-color: #eee;
	font-size: 2.5vmin;
	--menu-hgt: 7vmax;
	--input-height: 27vmax;
	/*font-size: 20px;*/
	overflow: hidden;
}

.rotator {
	width: 100vw;
	height: 100vh;

	width: 100vh;
	height: 100vw;
	transform: rotate(270deg);
	transform-origin: bottom left;

	position:absolute;
  left: 100vw;
	bottom: 0vw;
	overflow: hidden;
}

.normal {
	width: 100vw;
	height: 100vh;
}

.svgIcon {
	--svg-src: url('assets/wifi.svg');
	display: inline-block;
	/*margin-top: -5px;*/
	height: 1em;
	width: 1em;
	background-color: currentColor;
	-webkit-mask-image: var(--svg-src);
	-webkit-mask-size: contain;
}

#close {
	opacity: 0;
	transition: opacity .5s ease;
	--svg-src: url('assets/close.svg');
}

#mainMenu {
	color: #777;
	background-color: #fff;
	--menu-height: var(--menu-hgt);
	z-index: 100;
	font-size: 2em;

	transition: color .5s ease, background-color .5s ease;
}

#keyboardDiv {
	position: absolute;
	bottom: calc(-1 * var(--input-height) - 3vmax);
	left: 0;
	width: 100vmin;
	height: var(--input-height);
	font-size: 1.5em;
	transition: bottom .5s ease;
}

#keyboardDiv.show {
	bottom: 0;
}

#numpadDiv {
	position: absolute;
	bottom: calc(-1 * var(--input-height) - 3vmax);
	left: 0;
	width: 100vmin;
	height: var(--input-height);
	font-size: 1.5em;
	transition: bottom .5s ease;
}

#numpadDiv.show {
	bottom: 0;
}

muse-card input[type='text'], muse-card input[type='password'] {
	width: 10em;
  padding: .5em;
  font-size: 1em;
  box-sizing: border-box;
  border-radius: .25em;
  border: solid 1px rgba(0,0,0, .2);
}

muse-card drop-down {
	--background-color: #39f;
	--font-color: #fff;
	width: 15em;
}

muse-card but-ton {
  --background-color: #39f;
  --font-color: #fff;
}

muse-card but-ton.accept {
  font-size: 1em;
	--background-color: #39f;
  --font-color: #fff;
}

muse-card but-ton.cancel {
  font-size: 1em;
	--background-color: #fff;
  border: solid 1px rgba(0,0,0,.2);
  --font-color: #555;
}

/************* Growls **************/

muse-growl {
	z-index: 1000;
	font-size: 1.5em;
	width: 100vmin;
	height: 4em;
	line-height: 4em;
	left: 0;
	top: -5em;
	transition: top .5s ease;
	border-radius: 0;
}

muse-growl[alert] {
	top: 0;
}

muse-growl.warn {
	background-color: rgba(128, 0,0,.95);
	color: #fff;
}

muse-growl.success {
	background-color: rgba(0,128,0,.95);
	color: #fff;
}

/**************** Overlays *************/

#overlays {
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vmin;
	height: 100vmax;
	z-index: 10000;
	background-color: rgba(0,0,0,.25);
	opacity: 1;
	pointer-events: none;
	transition: opacity 1s ease;
	font-size: 2em;
}

.overlay[show] {
	opacity: 1;
}
