@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#staticOL .spinner {
  display: inline-block;
  background-image: url('../../../../assets/loading.png');
  background-size: cover;
  width: 40vmin;
  height: 40vmin;
  margin: 15vmax;
}

#staticOL[show] .spinner {
  animation: 3s infinite linear spin;
}

#staticOL .progressBar {
  position: relative;
  top:0;
  left: 0;
  display: inline-block;
  height: 2vmax;
  width: 75vmin;
  border: 1px solid black;
  margin-top: 40vmax;
  margin-bottom: 30vmax;
  border-radius: 1vmax;
  overflow: hidden;
  background-color: #777;
}

#staticOL .progress {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  height: 100%;
  left:0;
  width: 0;
  background-color: rgba(0,200,255,.75);
}

#staticOL .cancel {
  background-color: #c00;
  color: #fff;
}
